html {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

body {
    font-family: "Hind Guntur", sans-serif;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    min-width: 310px;
    min-height: 489px;
}

header {
    min-height: 55px;
    max-height: 75px;
    border-bottom: solid 1px;
    box-shadow: rgba(56, 56, 56, 0.658) 0px 2px 5px;
    z-index: 1;
}

section {
    padding: 0px;
}

footer {
    width: 100%;
}

footer .containerF {
    min-height: 60px;
    padding: 10px;
    grid-row: 2;
}

footer .menuF {
    text-align: center;
    font-size: 16px;
}

footer .f-Brand {
    grid-row: 1;
}

footer .f-Brandlogo {
    padding-top: 13px;
    padding-left: 0;
    float: none;
}

footer .social-icons {
    text-align: center;
}

footer .copyright {
    text-align: center;
    font-size: 11px;
}

/* Navigation Bar*/

.btn-color-toggle {
    position: absolute;
    left: 10px;
    top: 17px;
    cursor: pointer;
    z-index: 100;
    width: 10%;
}

.logo{
    text-align: center;
    width: 100%;
    margin-top: 5px;
}

.logoCont {
    float: right;
    margin-right: 5px;
}

.uploadVid {
    position: relative;
    float: right;
    text-align: center;
    width: 7%;
}

.uploadImg {
    width: 40px;
    filter: sepia(100%);
}

/* Tools */

.priority1 {
    padding: 5px;
    text-align: left;
    font-weight: bolder;
    margin-bottom: 70px;
    border: 5px solid rgba(255, 2, 2, 0.438);
    background-color: rgba(199, 69, 30, 0.158);
}

hr {
    height: 1px;
    border-width: 0;
    display: block;
    margin: 10% 1px 5% 1px;
    background-color: rgba(0, 0, 0, 0.624);
}

h1, h2, h3, h4, h5 {
    padding: 0px;
}

h1 {
    font-size: 30px;
    border-top: solid 2px rgb(40, 41, 119);
    border-bottom: solid 15px rgb(40, 41, 119);
    margin: 10px 50px;
}

a, p {
    padding: 0px;
    margin: 0px;
}

form label {
    font-weight: bold;
}

input[type='text'], input[type='date'], select {
    min-width: 190px;
    min-height: 25px;
    margin: 3px 0px;
}

select {
    height: 30px;
    padding: 5px;
}

textarea {
    width: fit-content;
    min-width: 250px;
    min-height: 150;
    padding: 5px;
    resize: none;
}

button {
    background: rgb(93, 143, 252);
    border: none;
    border-radius: 5px;
    color: rgb(253, 253, 253);
    min-width: 90px;
    min-height: 40px;
    padding: 0 5 0 5;
}

.checkbox {
    width: auto;
    margin: auto;
    padding:0px 3px;
}

#radios {
    position: relative;
    display: block;
    text-align: center;
    z-index: 5;
    width: 350px;
    white-space: nowrap;
}

#radios input {
    padding: 0px;
}

#radios .labels {
    display: inline;
    min-width: 90px;
    margin: 5px;
}

button:hover {
    background: rgb(255, 255, 255);
    color: rgb(93, 143, 252);
    border: 1px solid rgb(93, 143, 252);
}

.disImage {
    top: 100px;
}

textarea {
    width: 40%;
    height: 40%;
}

.container {
    min-height: 50.5%;
    padding: 5px;
}

.content {
    min-height: 30.5%;
    min-width: 250px;
    padding: 10 10 38 10;
    text-align: center;
}

.midDis {
    padding: 10px 0px;
    margin: 20px 0px 0px;
}

.screenshot {
    max-height: 190px;
    margin: 5px;
}

.screenshotCon {
    padding: 5px;
    margin: 5px;
}

.subLine {
    font-size: 8px;
}

.delimiter {
    margin: 5px 0;
    height: 1px;
    border-top: 2px solid rgba(153, 153, 153, 0.808);
}

/* Login/Forgot/Register Page */

.loginBar {
    margin: 5% 35%;
    padding: 10px;
    text-align: center;
    border: 2px solid rgb(119, 119, 119);
}

.logbar1 {
    width: 100%;
    margin: 5% 0px;
}

.logbar2 {
    width: 100%;
    margin: 5% 0px;
}

.loginBar input[type=password], input[type=email], input[type=username] {
    text-align: center;
    width: 250px;
    height: 25px;
    border: 2px solid rgba(119, 119, 119, 0.445);
    border-radius: 5px;
}

.loginBar button {
    width: fit-content;
    margin: 5px 0px;
}

.regBar {
    margin: 5% 35%;
    padding: 10px;
    text-align: center;
    border: 2px solid rgb(119, 119, 119);
}

.regBar input[type=password], input[type=email], input[type=username] {
    text-align: center;
    width: 250px;
    height: 25px;
    border: 2px solid rgba(119, 119, 119, 0.445);
    border-radius: 5px;
}

.regBar select[type=country] {
    width: 253px;
    border: 2px solid rgba(119, 119, 119, 0.445);
    border-radius: 5px;
}

/* Home Page */

.featList {
    text-align: center;
    margin: 5px 0px;
    width: 100%;
}

.topList {
    margin: 15px 0px;
    padding: 5px;
}

.midList {
    margin: 5px 0px;
    padding: 10px 1.3%;
}

.bottList {
    text-align: center;
    margin: 15px 0px;
    padding: 5px;
}

.topHolder {
    position: relative;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.midHolder {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
}

.bottHolder {
    text-align: center;
    display: flex;
}

.thumbnail {
    margin: 2px;
    width: 400px;
}

.thumbnail2 {
    width: 430px;
    margin: 5px;
}

.thumbnail3 {
    width: 100%;
    max-height: 300px;
}

.thumbnail4 {
    width: 210px;
    height: 250px;
    margin: 5px;
}


.vidInfo {
    margin: 5px 2px;
    padding: 5px 2px;
    border: 1px solid rgb(153, 153, 153);
}

.vidSpec {
    display: block;
    height: fit-content;
    width: 100%;
}

.vidTitle {
    font-weight: bolder;
    font-size: larger;
    padding: 5px;
    width: 100%;
}

.vidAuther {
    font-size: small;
    text-align: center;
    padding-top: 6px;
    float: left;
    width: 33%;
}

.vidRating {
    font-size: small;
    text-align: center;
    padding-top: 6px;
    float: left;
    width:33%;
    background-color: rgb(157, 228, 52);
    border-radius: 6px;
}

.vidViews{
    font-size: smaller;
    text-align: center;
    padding-top: 7px;
    float: left;
    width: 32%;
}

.chInfo {
    width: 16%;
    height: 200px;
    margin: 5px;
    float: left;
    background-color: rgb(169, 169, 169);
}

.chPic {
    margin: 20% 29%;
    text-align: center;
}

.chnlTitle {
    padding: 1px;
}

/* Upload Page */

.mainP{
    text-align: center;
}

.playerUpl {
    margin: 2px;
    width: 70%;
}

.formSect {
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid rgb(153, 153, 153);
}

.formSect textarea {
    height: 250px;
}y

.formSect .checkOption {
    margin: auto 2%;
}

.formCh {
    margin: 10px 0px;
}

.form-group {
    display: block;
    margin: 10px;
}

.formSer {
    margin: 10px 0px;
}

.formSer2 {
    display: flex;
    padding: 15px;
    border: 2px solid rgb(169, 169, 169);
}

.formEx {
    display: flex;
    margin: 15px 0px;
    padding: 0px 25%;
}

.formEx2 {
    width: 50%;
}

.formLeg {
    display: flex;
    margin: 5px 0px;
}

.formLeg2 {
    width: 25%;
}

.genForm {
    margin: 3% 8%;
}

.genRow {
    display: flex;
    flex-wrap: wrap;
}

.termsForm {
    text-align: center;
    padding: 5px;
}

.termsForm button {
    background-color: rgb(29, 29, 209);
}

/* video Player*/

.playerC {
    background-color: rgba(236, 236, 236, 0.226);
}

.playerC label {
    font-weight: bold;
}

.playerC button {
    margin: 5px 0px;
}

.vidPlayer {
    width: 85%;
}

.plyHolder {
    text-align: center;
    height: 85%;
}

.plySse {
    text-align: center;
    font-size: small;
    display: flex;
    height: 25px;
    margin: 0% 9%;
}

.plySs {
    width: 3.5%;
}

.plyTitle {
    margin: 0% 10%;
    height: 39px;
    font-size: x-large;
    font-weight: bolder;
}

.plyKeys {
    text-align: center;
    margin: 0% 8%;
}

.plyInfo {
    width: 50%;
    margin: 0% 25%;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}

.plyDes {
    margin: 0px 10%;
}

.plyCom {
    display: flex;
    width: 100%;
}

.tbar {
    display: inline-flex;
    text-align: center;
    width: 100%;
    height: 50%;
}

.bbar {
    width: 100%;
    height: 50%;
}

.cbar {
    margin: 4% 0px;
    width: 30%;
    padding: 2px;
}

.nbar {
    margin: 4% 0px;
    width: 40%;
}

.fbar {
    margin: 4% 0px;
    width: 30%;
}

.vbar {
    text-align: center;
    margin: 0px 30%;
    width: 208px;
    
}

.v2lbar {
    width: 30%;
    height: 3px;
    margin: 3px 35%;
    background-color: rgb(255, 0, 0);
}

.cmbar {
    width: 48%;
    max-width: 600px;
    margin: 15px auto;
}

.svbar {
    width: 48%;
    margin: 15px auto;
    max-width: 700px;
}

.dtable {
    min-height: 180px;
    max-height: 280px;
    padding: 5px 10px;
    border: 2px solid rgb(153, 153, 153);
    background-color: rgba(255, 255, 255, 0.5);
}

.ctable {
    min-height: 50px;
    padding: 5px;
    border: 2px solid rgb(153, 153, 153);
}

.rtable {
    margin: 40px 0px 0px;
}

.svtable {
    min-height: 50px;
    padding: 5px;
    border: 2px solid rgb(153, 153, 153);
}

.pInfo {
    width: 100%;
    border-bottom: 2px solid rgb(153, 153, 153);
    padding: 8px 0px 0px;
}

.pThumbnail {
    width: 49%;
    margin: auto;
}

.pSpec {
    text-align: center;
    float: left;
    width: 49%;
    padding: auto;
}

.pTitle {
    flex-wrap: wrap;
}

.pRating {
    width: 90px;
    margin: 0px auto;
    padding: auto;
    background-color: rgb(157, 228, 52);
    border-radius: 6px;
}

.pclabel {
    max-width: 100%;
    max-height: 165px;
    margin: 5px 0px;
    padding: 3px;
    background-color: rgba(182, 182, 182, 0.384);
    border: 2px solid rgba(119, 119, 119, 0.267);
}

/* Private Profile Theme */

.upPrivet {
    margin: 5px;
}

.upPrivet label {
    font-weight: bold;
}

.sFile {
    padding: 5px;
}

.sFile button {
    margin: 5px;
}


.ppFile {
    min-height: 250px;
}

.uFile {
    text-align: center;
    width: 20%;
    height: fit-content;
    background-color: rgba(182, 182, 182, 0.459);
    border: 2px solid rgba(119, 119, 119, 0.39);
}


.imgFile {
    width: 50px;
    padding: 5%;
}

.infoFile {
    flex-wrap: nowrap;
    width: 75%;
    float: right;
    padding: 5px;
    background-color: rgba(182, 182, 182, 0.459);
    border: 2px solid rgba(119, 119, 119, 0.39);
}

.ddTab1 {
    width: 50%;
}

.ddTab2 {
    float: left;
    width: 50%;
}

.ppeFile {
    padding: 5px;
    background-color: rgba(182, 182, 182, 0.384);
    border: 2px solid rgba(119, 119, 119);
}

.veFile {
    text-align: center;
}

.chFile {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
}

.chanPics {
    margin: 12% 32.5%;
    text-align: center;
}

.chanTitle {
    width: 100%;
}

.bcTab {
    width: 20%;
    height: 200px;
    margin: 5px;
    float: left;
    background-color: rgb(169, 169, 169);
}

/* Channel Page */

.cdFile {
    padding: 1px;
}

.wdTab {
    width: 16%;
    height: 150px;
    margin: 5px;
    float: left;
    background-color: rgb(169, 169, 169);
}

.chanPic {
    margin: 31% 29%;
    text-align: center;
}

.tdTab {
    display: flex;
    padding: 5px;
    margin-left: auto;
}

.icTab {
    width: 79%;
    padding: 5px;
}

.iccTab {
    width: 19%;
    padding: 5px;
}

/* Setting */

.settFiles {
    margin: 10px;
    padding: 5px;
    border: 2px solid rgba(167, 166, 166, 0.733);
}

.settFiles label {
    font-weight: bold;
}

.settFiles p {
    margin: 0px 5px;
}

.cbutton {
    margin: 0px 0px 0px 15px;
}

.textInf {
    margin: 10px 0px;
}

.textInf p {
    font-style: italic;
}

/* Light Theme */

body.light {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

body.light a {
    color: rgb(0, 0, 255);
    font-weight: bold;

}

body.light header {
    background-color: none;
}

body.light footer {
    background-color: rgb(255, 255, 255);
}

body.light .midDis {
    background-color: rgb(182, 182, 182);
}

.ePlayer {
    width: 60%;
}

/* Dark Theme */

body.dark {
    background-color: rgb(36, 36, 36);
    color: rgb(255, 255, 255);
}

body.dark a {
    color:  rgb(100, 179, 253);
    font-weight: bold;
}

body.dark header {
    background-color: rgb(43, 43, 43);
}

body.dark footer {
    background-color: rgb(49, 49, 49);
}

body.dark button{
    background-color: rgba(51, 58, 161);
}

body.dark button:hover {
    background: rgb(255, 255, 255);
    color: rgba(51, 58, 161);
    border: 1px solid rgba(51, 58, 161);
}

body.dark .midDis {
    background-color: rgb(88, 88, 88);
}

body.dark .delimiter {
    border-color: rgb(66, 66, 66) !important;
}